<div class="sessions_container">
  <section id="login" class="sessions">

  <div class="error">
    <p><%= flash[:message] %></p>
  <div>
  
  <h1>Log In</h1>
    <form action='/login' method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required><br>
      <input type="submit" value="Log In">
    </form>
    <br>

  Don't have an account? <a href="/signup">Sign Up Here.</a>

  </section>
</div>
