<div class="sessions_container">
    <h1 class="display-3">Welcome to the BookShelf</h1>
    
    <section id="login_signup" class="sessions">

        <div class="error">
            <p><%= flash[:message] %></p>
        <div>

        <h1>Sign Up</h1>

        <form method="POST" action="/signup">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="email" placeholder="E-mail" required>
            <input type="password" name="password" placeholder="Password" required>
             <input type="password" name="reenter_password" placeholder="Re-enter Password" required>
            <input type="submit" value="Sign Up">
        </form>

        Already a member? <a href="/login">Log In Here.</a>

    </section>
</div>
