<h1>See what your fellow bookworms are reading</h1>

<%@users.each do |user|%>
    <%if user != current_user%>
        <li><a href="/users/<%=user.slug%>"><%=user.username.split.map(&:capitalize).join(' ')%></a></li><br>
    <%end%>
<%end%>


<form action="/home" method="GET">
    <input type="submit" name="submit" value="Return Home">
</form><br>