<div class="bg">
    <section id="library" class="books">
        <h1 class="display-3">Unsure what you are looking for?</h1>

        <div class="text-center">
            <a class="btn btn-outline-success" href="/books-by-rating" role="button">Browse by Rating</a>

            <a class="btn btn-outline-success" href="/books-by-genre" role="button">Browse by Genre</a><br>
        </div><br>
        <h3 small class="text-muted">Browse our Library below.</h3><br><br>

        <div class="container">
            <div class="row row-cols-3">
                <%@books.each do |book|%>
                    <div class="row">
                        <div class="col"><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a>
                        <p small class="text-muted"><%=book.author.split.map(&:capitalize).join(' ')%></p></div>
                    </div>
                <%end%>
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-success" href="/recommendations" role="button">Still want more? Check out some recommendations here.</a>
        </div>
    </section>
</div>
