<h1>Browse the BookShelf</h1>

<h3>Browse by Rating</h3> 
** add in organization of books by rating **

<h3>Browse by Genre</h3> 
** add in organization of books by genre **

<h3> Unsure what you're looking for? Browse all available books below:</h3>
<%@books.each do |book|%>
    <li><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a> --- <%=book.author.split.map(&:capitalize).join(' ')%></li><br>
<%end%>


<form action="/home" method="GET">
    <input type="submit" name="submit" value="Return Home">
</form><br>