<h1>Browse the BookShelf</h1>

<form action="/books-by-rating" method="GET">
    <input type="submit" name="submit" value="Browse by Rating">
</form>

<form action="/books-by-genre" method="GET">
    <input type="submit" name="submit" value="Browse by Genre">
</form><br>

<h3> Unsure what you're looking for? Browse all available books below:</h3>
<%@books.each do |book|%>
    <li><a href="/books/<%=book.slug%>"><%=book.title.split.map(&:capitalize).join(' ')%></a> --- <%=book.author.split.map(&:capitalize).join(' ')%></li><br>
<%end%>

<h3>Still want more? Check out some <a href="/recommendations">recommendations.</a></h3>

<form action="/home" method="GET">
    <input type="submit" name="submit" value="Return Home">
</form><br>