<div class="genre">
    <form action="/books-by-genre" method="POST">
        <h2 class="display-4">Which genre would you like to explore?</h2> 
        <div class="container">
            <div class="row row-cols-3">
            <% Genre.all.each do |genre| %>
            <div class="row">
                <div class="list-group-item list-group-item-action" >
                <div class="col"><input type="radio" id="genre_<%=genre.id%>" name="genre_id" value="<%= genre.id %>">
                <label><%= genre.name %></label></div><br>  
                </div> 
            </div>
            <%end%><br>
        </div>
    </div>
            <div class="text-center">
                <input class="btn btn-success" type="submit" value="View Books">
            </div>
    </form><br><br>

            <div class="text-center">
                <a class="btn btn-secondary" href="/books" role="button">Return to the Library</a>
            </div><br><br>
</div>
