rating view


<form action="/books" method="GET">
    <input type="submit" name="submit" value="Return to all Books">
</form><br>

<form action="/home" method="GET">
    <input type="submit" name="submit" value="Return Home">
</form><br>