<h1><%=@book.title.split.map(&:capitalize).join(' ')%></h1> 
<h3>Written by: <%=@book.author.split.map(&:capitalize).join(' ')%></h3>

<form method="POST" action="/books/<%=@book.slug%>/read">
    <label><h4>Have you read this book?</h4></label>
    <input type="radio" name="yes_no" value="true">Yes<br>
    <input type="radio" name="yes_no" value="false">No<br><br>

    <input type="submit" value="Update BookShelf">
</form>
