<div class="book_container">
     <div class="col-7">
        <div class="book-header">
            <h1 class="display-5"><%=@book.title.split.map(&:capitalize).join(' ')%></h1> 

            <h4 small class="text-muted"><%=@book.author.split.map(&:capitalize).join(' ')%></h4>
        </div><br>

        <form method="POST" action="/books/<%=@book.slug%>/review">
            <div class="col-5">
                <label><h4 class="form-label">Write your review below</h4></label>

                <textarea class="form-control" type="text" name="review" id="review" rows="3"></textarea>
            </div>
            <br><br>
            
            <label><h4 class="form-label">Rate this book</h4></label><br>
                <fieldset>
                    <span class="star-cb-group">
                        <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                        <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
                        <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                        <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                        <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                    </span>
                </fieldset>
            <br><br>

            <input class="btn btn-secondary" type="submit" value="Submit Review">
        </form>
    </div>
</div>

