<div class="error-page" style="background-color:white; padding:15%;">

    <div class="text-center">
        <h1 class="display4">Oops! This page does not exist.</h1>
        <img src="http://images.clipartpanda.com/question-mark-images-question-mark-clip-art-free-5315.png" alt="question book"><br><br>

        <a class="btn btn-secondary" href="/home" role="button">Return Home</a>
    </div>




</div>